.infoZone {
	position: fixed;
	bottom: 0.5em;
	right: 0.5em;
	z-index: 10000000000;
}

#popUp {
	padding: 1em;
	padding-right: 5em;
	border-radius: 2em 0em 0em 2em;
	box-shadow: 0em 0em 1em rgba(0, 0, 0, 0.5);
	background: white;
	right: -100%;
}

#popUp div:first-child {
	min-height: 5em;

	color: white;
	border-radius: 2em;
	padding: 2em;
}

.cerrar {
	cursor: pointer;

	position: absolute;
	top: 0.5em;
	right: 1em;

	color: red;
	font-size: 1.5em;
}

@keyframes popUp {
	0%
	{
		right: -100%;
	}

	5%
	{
		right: 0.5em;
	}

	95%
	{
		right: 0.5em;
	}

	100%
	{
		right: -100%;
	}
}

@-webkit-keyframes popUp {
	0%
	{
		right: -100%;
	}

	5%
	{
		right: 0.5em;
	}

	95%
	{
		right: 0.5em;
	}

	100%
	{
		right: -100%;
	}
}

@keyframes popUpClose {
	from
	{
		right: 0.5em;
	}

	to
	{
		right: -100%;
	}
}

@-webkit-keyframes popUpClose {
	from
	{
		right: 0.5em;
	}

	to
	{
		right: -100%;
	}
}

#moreInfo {
	height: 100%;
	width: 100%;

	padding: 2em 5em;
	background: #fff;
	overflow: auto;

	position: fixed;
	top: 100%;
	left: 0%;
	z-index: 100000;
}

@keyframes moreInfo {
	from
	{
		top: 100%;
	}

	to
	{
		top: 0%;
	}
}

@-webkit-keyframes moreInfo {
	from
	{
		top: 100%;
	}

	to
	{
		top: 0%;
	}
}

@keyframes moreInfoClose {
	from
	{
		top: 0%;
	}

	to
	{
		top: 100%;
	}
}

@-webkit-keyframes moreInfoClose {
	from
	{
		top: 0%;
	}

	to
	{
		top: 100%;
	}
}